*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

nav{
  position: absolute;
  width: 100%;
}

.logo{
    color: white;
    float: left;
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
  }

   nav ul li a{
    color:white; 
    gap: 25px;
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }

    header{
      background-color: black;  
        padding-bottom: 2REM;
        padding-top: 4rem;
    }

    h1{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        padding-top: 5rem ;
        font-weight: 900;
        width: 80%;
        margin: auto;
        color: white;
    }

    .checkbtn{
        font-size: 20px;
        float: right;
        margin-top: 2.5rem;
        height: fit-content;
        width: fit-content;
        margin-right: 40px;
        cursor: pointer;
        display:none;
        align-self:center;
  }
    #check{
        display:none;

    }

    .img{
        max-width: 100%;
        margin-top: 1rem;
       
    }
    h4{
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-size: 25px;
        font-weight: 200;
    }
    p{
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        margin-top: 0.2rem;
    }
   
.reviews{
    max-width: 80%;
    margin: auto;
    margin-top: 4rem;
}
    h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        padding-top: 1.5rem;
        font-weight: 900;
        color:black;
    }

    .ready{
        width: 80%;
        margin: auto;
    }

    footer{
        background-color: black;
        margin-top: 3rem;
    }


    span{
        font-size: 1px;
        color: white;
        font-style: normal;
        font-size: 14px;
        font-family: "Oswald", sans-serif;
    }
    h3{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 25px;
    }
    .work{
        width: 80%;
        margin: auto;
        padding-top: 1rem;
    }
    button{
        background-color: red;
        width: 11rem;
        height: 3rem;
        font-family: "Bebas Neue", sans-serif;
        font-size: 20px;
        color: white;
        border: none;
        margin-top: 1rem;
    }

  

  @media(min-width:500px){
        .reviews{
          max-width: 70%;
           margin: auto;
           margin-top: 4rem;

        }

        h1,.ready,.work  {
            max-width: 70%;
            margin: auto;
        }
        p{
            font-size: 18px;
            display: block;
        }
  }

  @media(min-width:700px){
    .reviews,.ready,.work{
        max-width: 50%;
         margin: auto;
         margin-top: 4rem;

      }
      h1{
        max-width: 50%;
        margin: auto;
        font-size: 45px;
      }

      p{
        font-size: 19px;
      }

      
  }

  @media(min-width:901px){
   
        ul{
            display: flex;
            gap: 1.5rem;
            margin-left: 15rem;
            padding-top:2.5rem;
            list-style:none;
           }
           footer{
            display:flex;
            align-items: center;
            padding-bottom:9rem;
            
           }

           .work{
            padding-left: rem;
             
          }
          .reviews{
             display: none;

          }
          .desktop-mode{
           
          }
          .img-bg{
            max-width: 40%;
            margin-left: 7rem;
          }
    
          .container{
            display: flex;
            margin: auto;
            width: 76%;
         
          }

          h1{
            max-width: 80%;
            display: flex;
            margin: auto;
            font-size: 60px;
            margin-top: 4rem;
          }
          p{
           font-size: 16px;
           width: 90%;
           margin-top: 0.5rem;
          }

          .desktop-images{
          max-width:95%;
            margin: auto;
            display: flex;
            margin-top: 10rem;
          }

          .box,.box1,.box2{
            height: fit-content;
            width: 50%;
            margin: auto;
           
          }

          .box1{
            margin-top: 20rem;
          }
          .box2{
            margin-top: 25rem;
            margin-left:4rem;
            margin-top: 17rem;
          }
         

          button{
            height: 3.5rem;
            width: 13rem;
            font-size: px;
          }
          .p{
            margin-top: 1rem;
          }
        .work{
          margin-left: 8rem;
        }

        .ready{
         margin-left: 7rem;
        
        }

        h2{
          font-size: 50px;
          
        }

        span{
          padding-top: 9rem;
        }

        h4{
          font-size: 30px;
        }
          
  }

  @media(min-width:1200px){
        p{
          font-size: px;
          letter-spacing: 0.03rem;
          line-spacing: 0.5rem;
        }
        .p{
          margin-top: 1rem;
        }

        button{
          margin-top: 3rem;
        }
  }

    @media(max-width:900px){
        .checkbtn{
            display: block;
        }
    
    ul{ 
        position:absolute;
        width: 100%;
        height: vh;
        background:black;
        top:-10px;
        text-align: right;
        transition:  all 0.5s;
       }
       ul:hover{
           transform: translateY(-100%);
           
       }
       nav ul li{
           display:block;
           margin: 35px 0px;
           line-height: 1px;
           font-family: "Barlow", sans-serif;
           font-size: 16px;
           margin-right: 0.5rem;
       }
    
       
       nav ul li a{
           font-size:16px;
            
       }
    
       
       #check:checked ~ ul{
           left: 0;
       }
       .desktop-modes,.desktop{
        display: none;
    }
    }
    